<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Profile</title>
</head>
<body>
    <nav>
        <h4>Node Mysql</h4>
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src='/avatar.png' class='avatar' alt='User Profile Pic'>
                    </div>
                    <div class="card-body">
                        <h5 class='card-title'>{{user.name}}</h5>
                        <p class='card-text'>This is vaibhav. Working on nodejs tutorial. This is profile page with user profile picture.</p>
                        <a href="#" class="btn btn-primary">{{user.email}}</a>
                    </div>
                </div>
            </div>
            <div class="col-8">
                 <div class="card text-center">
                    <div class="card-header">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hey {{user.name}}, welcome back.</h5>
                        <p class="card-text">This is your profile page. It highlights your personal info. Use it to promote your strengths.</p>
                        <a href="#" class="btn btn-primary">{{user.email}}</a>
                    </div>
                    <div class="card-footer text-muted">Node MySQL - Project</div>
                 </div>

            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>